h1 {
font-size: 44px;
font-family: "Copperpadle";
border-bottom: 100px solid white;

}
p {
margin: 10px 0;
line-height: 1.2;
}

body {
border-top: 5px solid #d35400;
font-family: helvetica;
background: white;
padding: 30px;

}

